@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 5rem;
    .uptask{
       @include m.textoDegradado(v.$indigo);
    }
    .acciones{
        //esto lo podemos hacer porque se copilan los componentes antes que el auth
        justify-content: center;
        a{
                color: v.$indigo;
        }
    }
}