//estilo esclusivos de la vista contenedor crear
@use 'base/variables' as v;
@use 'base/mixins' as m;

.login{
    margin-top: 5rem;
    //selecionamos el h1 del login
    .rutime{
        //solo con esto crea un background que va degradandose un poco 
        background:linear-gradient(to right, v.$cyan 0%, lighten(v.$cyan,30%) 100%);
        //las letras se hacen transparentes
        color:transparent;
        //asi lo que hacemos es que el degradado se aplique a las letras
        background-clip: text;
        text-align: center;
        font-size: 7rem;

        @include m.tablet{
            font-size: 10 rem;
        }
    }
}