//estilo esclusivos de la vista contenedor crear
@use 'base/variables' as v;
@use 'base/mixins' as m;

.login{
    margin-top: 5rem;
    //selecionamos el h1 del login
    .uptask{
        @include m.textoDegradado(v.$cyan);
    }
    
    input[type="submit"]{
        @include m.boton(v.$cyan, v.$blanco);
        margin: 0 auto;
    }
    
    .acciones{
        a{
                color: v.$cyan;
        }
    }
}